body {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0;
}

h1, h2, h3, h4, h5, h5, p, span, ul {
    margin: 0;
    padding: 0;
}

.wrapper {
    padding: 0px 140px;
}

/* Main screen + header */
.main-screen {
    height: 820px;
    background-image: url('../assets/main-screen.png');
    background-size: cover;
    background-repeat: no-repeat;
} 

.header {
    padding-top: 70px;
    display: flex; 
}

.logo a {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 16px;

    letter-spacing: 0.1em;
    text-transform: uppercase;
    text-decoration: none;

    color: #fff;
}

.nav {
    max-width: 435px;
    margin: 0 auto;
}

.nav-list {
    display: flex;
}

.nav-item {
    list-style: none;
    margin-right: 30px;
}

.nav-item a {
    text-decoration: none;
    list-style: none;

    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;

    letter-spacing: 0.2em;
    text-transform: uppercase;

    color: #FFFFFF;
    cursor: pointer;
}

.nav-item a:hover {
    border-bottom: 2px solid #fff;
}

.main-screen__content {
    text-align: center;
    max-width: 440px;
    margin: 0 auto;
    padding-top: 20%;
}

.main-screen__content-heading {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 64px;
    color: #FFFFFF;
    max-width: 377px;
    margin: 15px auto 40px;
}

.main-screen__content-description {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    max-width: 420px;

    color: #c2c2c2; 
}

/* Second screen - Headline Screen */

.headline-screen {
    padding: 100px 0;
    text-align: center;
}

.headline-screen__heading {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 64px;
    color: #464547;
    max-width: 670px;
    margin: 0 auto;
}


.headline-screen__underheading {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    color: #666666;
    max-width: 425px;
    margin: 50px auto;
}

.headline-screen__pharagraph {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    column-gap: 75px;
}

.headline-screen__description {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #000000;
    text-align: initial;
}

.headline-screen__button {
    width: 115px;
    height: 35px;
    background: #55C2D8;
    border-radius: 18px;
    margin: 40px auto 0; 

    font-family: 'Oswald';
    font-weight: 400;
    font-size: 14px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.1em;
    color: #fff;
    border: none;
    text-transform: uppercase;
    cursor: pointer;
}

/* therd screen - learn screen */

.learn-screen {
    position: relative;
    height: 665px;
    background-image: url(../assets/last-screen.png);
    background-size: cover;
    background-repeat: no-repeat;  
    z-index: -2; 
}

.dimming-background {
    position: absolute;
    width: 1200px;
    height: 665px;
    background-color: #8C4F2A;
    z-index: -1;
    opacity: 30%;
}

.learn-screen__content {
    max-width: 395px;
    text-align: center;
    padding-top: 100px;
    margin: 0 auto;
}

.learn-screen__heading {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 64px;
    color: #FFFFFF;
}

.learn-screen__button {
    width: 150px;
    height: 150px;
    border: none;
    border-radius: 50%;
    background-color: #39C2D7;   
    margin: 50px auto 70px;
    cursor: pointer;
}

.learn-screen__button span {
    color: #fff;
    font-size: 65px;
    margin-left: 15px;
}

.learn-screen__descripton {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    color: #c2c2c2;
}

/* footer */

.footer {
    background-color: #464547;
    height: 200px;
    padding-top: 40px;
}

.footer .wrapper {
    display: grid;
    grid-template-columns: 230px 460px 230px;
}
.footer__logo {
    display: flex;
}

.footer__logo-img {
    width: 20px;
    height: 20px;
    margin-top: 2px;
}

.footer__logo-log {
    margin-left: 10px;
    font-family: 'Source Sans Pro';
    font-size: 18px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #FFFFFF;
}

.contacts a{
    display: block;
    text-decoration: none;
    margin-top: 30px;
}

.footer__address, .footer__email,
.footer__rul, .contacts a {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: rgba(255, 255, 255, 0.4);
}

.footer__rul {
    display: flex;
    flex-direction: column;
    justify-content: end;
}
